@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Merriweather&family=VT323&family=Zilla+Slab:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=VT323&family=Zilla+Slab:wght@300;400&display=swap");

/***********************/
/*****  CSS RESET  *****/
/***********************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************/
/*****    FONTS    *****/
/***********************/

/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700'); */
/* font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
	font-weight: 400; */

:root {
  --lightgreen: rgb(191 255 194);
  --darkgreen: rgb(35 78 68);
}

/***********************/
/***** FOUNDATIONS *****/
/***********************/

body {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-size: 6.9vw;
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 900px) {
  body {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-size: 4rem;
    width: 100vw;
    height: 100vh;
  }
}

.page {
  display: flex;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  /* justify-content: space-between; */
}

#landingPage {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
}

@media screen and (min-width: 900px) {
  #landingPage {
    display: flex;
    height: 100vh;
    justify-content: center;
  }
}

#curiousEarsPage {
  display: flex;
  justify-content: space-between;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.headerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutPage .pageContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space between children */
  align-items: center; /* Center items horizontally */
  height: 100%; /* Ensure it fills the height of its container */
  box-sizing: border-box;
}

#aboutPage .pageContent > :first-child {
  margin-top: 2rem;
}

.centerCluster {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.page:nth-of-type(odd) {
  background-color: var(--lightgreen);
  color: var(--darkgreen);
}

.page:nth-of-type(even) {
  background-color: var(--darkgreen);
  color: var(--lightgreen);
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

#navButtons {
  display: flex;
  padding-left: 30px;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

p {
  padding: 1rem;

  /* ~~~ */

  font-family: "Zilla Slab";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem; /* 133.333% */
}
.DMSans {
  font-family: "DM Sans", sans-serif;
}

.ZillaSlab {
}

#debug,
#debug p {
  font-size: 0.9rem;
  line-height: 0.8rem;
  padding: 0;
}

#titleText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lettersBox {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 auto; /* Center the box */
  /* transform: scale(0.95); Scale down the entire letters box */
}

@media screen and (min-width: 900px) {
  #titleText {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }

  .lettersBox,
  #artPubArt {
    margin: 0;
    margin: 0 2px; /* Adjust the margin as needed, or set to 0 for no space */
  }

  #artPubArt {
    max-width: 10rem;
    text-align: left;
  }

  #engLand {
    order: 2; /* Move the top paragraph below the header */
    max-width: 20vw;
  }

  header {
    order: 1; /* Keep the header in the middle */
  }

  #frLand {
    order: 3; /* Move the bottom paragraph to the bottom */
    max-width: 20vw;

  }
}

.letters {
  flex: 0 0 auto; /* Do not grow, do not shrink, based on content */
  padding: 0.35vw;
}

.m,
.o,
.n,
.a,
.h {
  width: auto; /* Adjust this value based on your design */
  height: 12vw; /* Maintain aspect ratio */
  max-height: 10rem; /* Maintain aspect ratio */
}

.o {
  position: relative; /* Ensures it stays in front of the behind-element */
  z-index: 1; /* Higher z-index to ensure it's above the behind-element */
}

#odiv {
  position: relative; /* Parent container */
  display: flex; /* Using flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#otree {
  position: absolute;
  z-index: 1;
  width: auto; /* Example responsive width */
  height: 7.5vw; /* Maintain aspect ratio */
  max-height: 6rem; /* Maintain aspect ratio */
}

@media screen and (min-width: 900px) {
  .lettersBox {
    transform-origin: center;
  }
}

#siteName {
  font-size: 7.8vw;
  font-family: "DM Sans", sans-serif;
  color: var(--lightgreen);

  /* ``` */

  color: var(--Text, #bfffc2);
  text-align: center;
  font-family: "DM Sans";
  font-size: 1.90269rem;
  font-style: normal;
  font-weight: 500;
  line-height: 97.7%; /* 1.85894rem */
  text-transform: uppercase;
}

#curiousEarsTxt {
  text-align: center;
  font-family: "Zilla Slab", serif;
  font-size: 10vw;

  /* ~~~ */
  color: var(--Text, #bfffc2);
  text-align: center;
  font-feature-settings: "ss02" on;

  /* h1 mobile */
  font-family: "Zilla Slab";
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 98%; /* 2.94rem */
}

@media screen and (min-width: 900px) {
  #curiousEarsTxt {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-size: 4rem;
    width: 100vw;
    height: 100vh;
  }
}

#arrow {
  width: 2.5rem;
  padding: 0 0 15px 0; /* margin-top: 8rem; */
}

@media screen and (min-width: 900px) {
  p {
    /* line-height: 1.25; */
    /* padding-bottom: 0; */
  }
}

/***********************/
/******** LINKS ********/
/***********************/

a {
  /* color: var(--accentDark); */
  /* text-decoration: none; */
}

a:hover {
  color: var(--accentTwo);
}

/***********************/
/******  BUTTONS  ******/
/***********************/

.btn {
  background-color: #214e42;
  color: #bfffc2;
  outline: none;
  border: none;
  padding: 10px;
  /* width: 10rem; */
  border-radius: 6px;
}

#transcriptButton {
  background-color: #214e42;
  color: #bfffc2;
  outline: none;
  border: none;
  padding: 15px;
  width: 94vw;
  border-radius: 6px;

  /* ~~~ */
  border-radius: 0.5625rem;
  border: 2px solid var(--Background, #224e43);
  background: var(--Background, #224e43);
  color: var(--Text, #bfffc2);
  text-align: center;
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 123.7%;
  /* 1.54625rem */
  text-transform: uppercase;
}

#transcriptButton:hover {
  background: var(--Text, #bfffc2);
  color: var(--Background, #224e43);
  border-radius: 0.5625rem;
  border: 2px solid #000;
}

#langToggle {
  /* display: inline-block; */
  background-color: var(--darkgreen);
  font-family: "DM Mono", sans-serif;
  font-size: 5.2vw;

  color: var(--lightgreen);
  /* font-size: 1.11rem; */
  text-decoration: none;
  text-transform: uppercase;
  /* margin: 3rem; */
  /* padding: 0.6em 4em; */
  outline: none;
  border: none;
  cursor: pointer;

  /* ~~~~ */

  color: var(--Text, #bfffc2);
  /* font-family: "DM Mono"; */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 120% */
  letter-spacing: 0.10625rem;
}

/***********************/
/******  IMAGES  *******/
/***********************/

img {
  max-width: 100%;
  /* max-height: auto; */
}

.navIcons {
  width: 2.7rem;
  padding: 0 0 0 8px;

  /* width: 1.59906rem; */
  /* height: 1.87213rem; */
  flex-shrink: 0;
}

.decorativeImage {
  width: 23vw;
}

/***********************/
/******* HEADERS *******/
/***********************/

h1 {
  font-family: "Merriweather", serif;
  font-size: 16.9vw;
  margin-top: -5rem;
  font-weight: 700;
}

#title {
  color: var(--Background, #224e43);
  text-align: center;
  font-feature-settings: "ss02" on;
  font-family: "DM Sans";
  font-size: 4.33538rem;
  font-style: normal;
  font-weight: 500;
  line-height: 97.7%; /* 4.23569rem */
  letter-spacing: -0.13006rem;
  text-transform: uppercase;
}

#artPubArt {
  color: var(--Background, #224e43);
  text-align: center;
  font-feature-settings: "ss02" on;
  font-family: "DM Sans";
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 97.7%; /* 2.68675rem */
  text-transform: uppercase;
}

#howToListenH2,
#howitWorksH2,
#whereToFindUsH2,
#accessH2,
#whereToFindUsH2,
#contributorsH2 {
  font-size: 1.2rem;
  margin: 1em 0em 0.75em 0em;
}

#howToListenH2 {
  color: var(--Background, #224e43);
  text-align: center;

  /* h2 mobile */
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.125rem; /* 141.667% */
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

#howItWorksH2 {
  color: var(--Text, #bfffc2);
}

#aboutH2 {
  font-size: 1.2rem;

  /* ~~~ */

  color: var(--Text, #bfffc2);
  text-align: center;

  /* h2 mobile */
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.125rem; /* 141.667% */
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

#monH2 {
  font-size: 2rem;
  font-family: "DM Sans";
  font-weight: 500;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 6.9vw;
  }
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 10.8vw;
  font-weight: 400;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.125rem; /* 141.667% */
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--accentDark);
}

h4 {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--accentLight);
}

h5 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--accentLight);
}

main {
  align-content: center;
  justify-content: space-around;
  align-items: center;
  top: 20rem;
}

.instructions,
.access {
  margin: 1rem 0 0 0;
  max-width: 80vw;
}

li {
  font-size: 1.2rem; /* Consolidated font size */
  margin-left: 10px;
  list-style-type: disc;
  list-style-position: outside;
  padding-bottom: 10px;
  line-height: 1.35;
  font-family: "Zilla Slab", serif;
  font-weight: 300;

  /* ~~~ */

  color: var(--Background, #224e43);

  /* P mobile lightbg */
  font-family: "Zilla Slab";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 133.333% */
}

@media screen and (min-width: 900px) {
  #playerPageMain {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    top: 20rem;
    align-items: flex-start;
  }
}

#audio-player-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playerPage {
  width: 100vw;
  height: 200vh;
  padding: 0;
  margin: 0;
  /* display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  top: 20rem; */
  /* align-items: flex-start; */
}

@media screen and (min-width: 900px) {
  #playerPage {
    width: 100vw;
    /* height: 200vh; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    top: 20rem;
    align-items: flex-start;
  }
}

#button-container {
  display: flex;
  justify-content: space-between; /* Pushes buttons to the edges */
  align-items: center;
  width: 100%; /* Ensure the container spans the full width */
}

.skip-button {
  border: none;
  background: none;
  position: relative;
  margin: 0 2.5vw;
}

.skip-button span {
  display: block;
  width: 15vw; /* Responsive width for mobile */
  padding-top: calc(1.2 * 15vw); /* Corrected aspect ratio */
  position: relative;
}

.svg-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 900px) {
  #button-container {
    justify-content: center; /* Brings buttons closer together on desktop */
  }

  .skip-button {
    margin: 0 2vw; /* Reduces space from the edges on desktop */
  }

  .skip-button span {
    width: 10vw; /* Larger width for desktop */
    padding-top: calc(1.2 * 10vw); /* Adjusted aspect ratio for desktop */
  }
}

#play-button {
  position: relative; /* Enables absolute positioning for child elements */
  background: transparent;
  border: none;
  margin: 80px 0;
}

#play-button-svg-container {
  display: block;
  width: 80vw; /* Increased from 50vw to 80vw for a wider button on mobile */
  padding-top: calc((319 / 279) * 80vw); /* Adjusted aspect ratio based on the new width */
  position: relative; /* Context for the absolute positioning */
}

#play-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
}

#play-button-text-container {
  position: absolute;
  top: 50%;
  /* left: 50%; */
  left: 35%;
  transform: translate(-50%, -50%);
  color: #bfffc2;
  pointer-events: none; /* Allows clicks to pass through the text */
  font-family: "Zilla Slab", sans-serif;
  font-size: 6.5vw; /* Adjusted for larger button size */

  /* ~~~ */

  color: var(--Text, #bfffc2);
  text-align: center;
  font-feature-settings: "ss02" on;
  font-family: "DM Sans";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 97.7%; /* 2.19825rem */
  text-transform: uppercase;
}

#play-button-text-container:hover {
  opacity: 0.6;
}

.svg-container {
  background-image: url("images/svg/patternRow3.svg");
  background-repeat: repeat-x; /* Repeat only horizontally */
  background-size: auto 110px; /* Adjust the height as needed, width is automatic */
  height: 110px; /* This should be at least as tall as the background-size height */
  width: 100vw;
}

.svg-container2 {
  background-image: url("images/svg/patternRow2.svg");
  background-repeat: repeat-x; /* Repeat only horizontally */
  background-size: auto 110px; /* Adjust the height as needed, width is automatic */
  height: 110px; /* This should be at least as tall as the background-size height */
  width: 100vw;
  background-color: #224e43;
}

.svg-contributors {
  background-image: url("images/svg/-contributors1.svg");
  background-repeat: repeat-x; /* Repeat only horizontally */
  background-size: 10px 200px; /* Adjust this to increase space between dashes */
  height: 110px; /* This should be at least as tall as the background-size height */
  width: 80vw; /* Full width of the viewport */
  box-sizing: border-box; /* Ensures padding is included in the width */
}

@media screen and (min-width: 900px) {
  #play-button-svg-container {
    width: 20vw; /* Adjusted width for desktop, can tweak as necessary */
    padding-top: calc((319 / 279) * 20vw); /* Adjusted aspect ratio for desktop */
  }

  #play-button-text-container {
    font-size: 1.8vw; /* Adjusted for larger button size on desktop */
  }
}

/* PROGRESS BAR  */

#progress-container {
  position: relative;
  width: 90%; /* Reduced from 100% to 90% */
  height: 2px;
  background-color: grey; /* Unplayed part is now grey */
  margin: 8px auto 0 auto; /* Center the progress bar */
}

#progress-bar {
  position: absolute;
  width: 0; /* Initial width */
  height: 100%;
  background-color: black; /* Played part is now black */
}

#progress-dot {
  position: absolute;
  top: -3px; /* Half the dot's size above the bar to center it */
  left: 0;
  width: 8px; /* Width of the dot */
  height: 8px; /* Height of the dot */
  background-color: black; /* Color of the dot */
  border-radius: 50%; /* Make it round */
}

.time-labels {
  display: flex;
  justify-content: space-between;
  width: 90%; /* Match the progress bar width */
  margin: 5px auto 0; /* Align with the progress bar and add some space */
  font-size: 0.8rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  margin-top: 13px;

  /* ~~~ */

  /* color: var(--Background, #224E43);
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: "DM Sans";
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 3.14463rem; 314.463% */
}

.time-label {
  color: black; /* Or any color you prefer */
}

@media screen and (min-width: 900px) {
  #progress-container {
    position: relative;
    width: 70%; /* Reduced from 100% to 90% */
    height: 2px;
    background-color: grey; /* Unplayed part is now grey */
    margin: 0 auto; /* Center the progress bar */
  }

  .time-labels {
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    margin: 0;
    justify-content: space-between;
    padding: 20px; /* Add padding to ensure labels don't overlap the progress bar ends */
  }

  #time-played {
    left: 0;
  }

  #time-remaining {
    right: 0;
  }
}

/* VOLUME SLIDER  */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

#volume-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Full width to center the child elements */
  padding: 10px 0; /* Some padding around the slider */
  margin: 22px 0;
}

.volume-icon {
  display: flex; /* Center the SVG icon */
  justify-content: center;
  align-items: center;
  margin: 0 5px; /* Space between the icons and the slider */
}

#volume-slider {
  -webkit-appearance: none; /* Override default look */
  width: 78vw;
  height: 3px;
  background: grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px; /* Size of the handle */
  height: 9px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

#volume-slider::-moz-range-thumb {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/

@media screen and (min-width: 900px) {
  #volume-slider {
    width: 40vw; /* Width for desktop */
  }

  #volume-container {
    /* justify-content: start; Align to the start of the container */
  }

  .volume-icon {
    margin: 0 10px; /* Adjust space as needed */
  }
}

#debugdiv {
  display: block;
  max-height: 500px; /* Adjust as needed */
  overflow: auto;
  padding: 10px 5px;
  margin: 10px 2px;

  border: 2px solid orange;
}

#transcriptContainer {
  background-color: lightslategray;
  max-height: 150px; /* Adjust as needed */
  overflow: auto;
  margin: 20px 5px;
}

#transcriptContainer:hover {
  opacity: 0.6;
}

/* 88888888888888 */
/* DETAILS  */
/* 88888888888888 */

details {
  transition: 0.2s background linear;
  display: flex;
}

details:hover {
  /* background: #dad3b1; */
}

details > summary {
  transition: color 1s;
}
details[open] > summary {
  /* color: #d9103e; */
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 15px; */
  /* font-weight: bold; */

  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;

  line-height: 2.125rem; /* 141.667% */
  letter-spacing: 0.075rem;
  text-transform: uppercase;

  color: var(--Text, #bfffc2);
  font-feature-settings: "ss02" on, "ss03" on;
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6875rem; /* 135% */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

summary::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid #15171b;
  border-inline: 7px solid transparent;
  transition: 0.2s;
}

details[open] > summary {
  border-bottom: 2px solid #fff9f1;
}

details[open] > summary::after {
  transform: rotate(-180deg);
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  border-radius: 5px;
  color: var(--Text, #bfffc2);

  /* ``` */

  color: var(--Text, #bfffc2);

  /* p mobile */
  font-family: "Zilla Slab";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem; /* 133.333% */
}

details[open] summary {
  border-radius: 5px 5px 0 0;
  max-width: 80vw;
}

details {
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* extra styles */

* {
  /* box-sizing: border-box; */
}
body {
  /* margin: 20px; */
  /* background: #fff9f1; */
}
h1 {
  /* font-size: 1.2em; */
}
article > *:first-child {
  /* margin: 0; */
}
article > * + * {
  /* margin: 0.75em 0 0 0; */
}
pre {
  /* padding: 1em; */
}
article {
  /* padding: 15px; */
  /* margin: 0; */
}
details code {
  /* font-size: 1.1em; */
}
