@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Zilla Slab Light'), local('ZillaSlab-Light'),
       url('/fonts/ZillaSlab-Light.ttf') format('truetype');
}


@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400 700; /* Example range */
  src: local('DM Sans'), local('DMSans'),
       url('/fonts/DMSans-VariableFont_opsz,wght.woff2') format('woff2');
}



:root {
  font-size: 16px; /* Default font size */
}
/***********************/
/*****  CSS RESET  *****/
/***********************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  touch-action: manipulation;

}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************/
/***** FOUNDATIONS *****/
/***********************/

body {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  height: 100vh;
  font-size: var(--base-font-size, 2rem); /* Default to 16px if the variable is not set */
}

@media screen and (min-width: 900px) {
  body {
    box-sizing: border-box;
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-size: var(--base-font-size, 4rem); /* Default to 16px if the variable is not set */
    height: 100vh;
  }
}

main {
  align-content: center;
  justify-content: space-around;
  align-items: center;
  top: 20rem;
}

/***********************/
/******** LINKS ********/
/***********************/

/* a {
  color: var(--darkgreen);
} */

a:hover {
  opacity: 60%;
} 

/***********************/
/******  BUTTONS  ******/
/***********************/

:root {
  --font-family-dm: "DM Sans", sans-serif;
  --font-family-mono: "DM Mono", sans-serif;
  --lightgreen: #bfffc2;
  --darkgreen: #234e44;
  --grey: rgb(122, 122, 122);
  --black: rgb(0, 0, 0);
  --orange: rgb(255, 119, 0);
  --white: rgb(255, 255, 255);
  --base-font-size: 6.9vw;
}

.btn,
#langToggle {
  /* background-color: var(--lightgreen); */
  /* color: var(--darkgreen);
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-family: var(--font-family-dm); */
}

#transcriptButton {
  padding: 15px;
  width: 81vw;
  border-radius: 0.5625rem;
  border: 2px solid var(--darkgreen);
  background: var(--darkgreen);
  color: var(--lightgreen);
  text-align: center;
  font-family: var(--font-family-dm);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 123.7%;
  text-transform: uppercase;
}

#transcriptButton:hover {
  opacity: 70%;
}

#tratButton:hover {
  background: var(--darkgreen);
  color: var(--lightgreen);
  border: 2px solid #000;
}

@media screen and (min-width: 900px) {
  #transcriptButton {
    width: 20rem;
  }
}

#langToggle {
  /* background-color: transparent;
  font-family: var(--font-family-mono);
  font-size: 1.25rem; /* Adjusted to maintain consistency at larger screens */
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer; */
}

/************************/
/******** PAGE **********/
/************************/

.page {
  display: flex;
  /* min- height: 100vh; */
  height: auto;
  width: 100vw;
  max-width: 100vw;
  /* padding: 10px; */
  box-sizing: border-box;
  flex-direction: column;
  /* padding: 2rem; */
}

#curiousEarsPage,
#howItWorksPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#curiousEarsPage > .pageContent {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#contributorsPage,
#productionTeamPage,
#whereToFindUsPage,
#howItWorksPage {
  /* padding: 3rem; */
}

/* #aboutPage .pageContentTxt > :first-child {
  margin-top: 2rem;
} */

.pageContent,
.pageContentTxt,
#howToListenPage,
#howItWorksPage {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.pageContent {
  height: 100vh;
}

#landingPage {
  min-height: 100vh;
  /* padding: 2rem; */
}

#aboutPage .sideBySideTxtImage {
  /* position: relative; */
}

#curiousEarsPage {
  /* display: flex; */
  /* flex-direction: column; */
}

#playerPage {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 900px) {
  #playerPage {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
  }
}

.pageContentTxt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pageInnerContent {
  padding: 3rem 2.1rem
}

@media screen and (min-width: 900px) {
  .pageInnerContent {
    padding: 3rem 4rem;
  }
}

.pageInnerContentNoPad {
  padding: 0 2rem;
}

.pageInnerContent1Pad {
  padding: 0 1rem;
}

#cred {
  margin-top: -3rem;
}

@media screen and (min-width: 900px) {
  .page {
    display: flex;
    min-height: auto;
    height: fit-content;
  }

  #playerPageMain {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    top: 20rem;
    align-items: flex-start;
  }

  #cred {
    margin-top: 0;
  }
}

@media screen and (min-width: 900px) {
  #howItWorksPage {
    padding: 0;
    align-items: unset;
  }

  #contributorsPage,
  #productionTeamPage {
    padding: 2rem;
  }
}

/************************/
/**** PAGE LAYOUTS *****/
/************************/

nav {
  position: fixed; 
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 0;
  max-width: 100vw;
  padding: 15px;
right: 0;
  top: 0; 
  z-index: 1000; 
}


@media screen and (min-width: 900px) {
  nav {
    max-width: 100vw;
    padding: 20px 20px;
  }
}

.navButtons {
  display: flex;
  /* padding-left: 30px; */
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

#langToggle:hover, #accessiblityNav:hover  {
  opacity: 60%;
}


.headerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  /* position: relative; The parent container */
  height: auto;
  max-height: 4rem;
}

@media screen and (min-width: 900px) {
  .sideBySideTxtImage {
    display: flex;
    flex-direction: row;
    /* min-height: 70vh; */
    justify-content: baseline;
    justify-content: space-between;
    /* height: auto; */
    max-width: 100vw;
    height: fit-content;
  }

  .sideBySideTxt {
    display: flex;
    flex-direction: row;
    /* min-height: 70vh; */
    justify-content: baseline;
    justify-content: space-between;
    /* This distributes space between and around items */
    height: auto;
  }

  .sideBySideTxtImage > * > .content {
    padding: 20px;
    /* padding: 2rem 2rem; */
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .sideBySideTxtImage > * {
    flex: 1;
  }

  .sideBySideTxt > * {
    flex: 1;
    /* padding: 3rem; */
  }

  .headerDiv {
    display: flex;
    align-items: flex-start;
    /* padding-left: 2rem; */
  }

  .pageContentTxt {
    box-sizing: border-box;
    align-items: flex-start;
    max-height: fit-content;
    /* padding: 2rem; */
  }

  #thanksPagePageContentTxt {
    /* padding: 2rem; */
  }
}

#thanksPagePageContentTxt .pageContentTxt {
  align-items: flex-start;
}

/**************************/
/** ALTERNATING COLOURS ***/
/**************************/

.page:nth-of-type(odd) {
  background-color: var(--lightgreen);
  color: var(--darkgreen);
}

.page:nth-of-type(even) {
  background-color: var(--darkgreen);
  color: var(--lightgreen);
}

/* For odd pages */
.page:nth-of-type(odd) {
  background-color: var(--lightgreen);
}

a {
  color: var(--darkgreen);
}

a:hover {
  color: var(--accentTwo);
}

.page:nth-of-type(odd) h1,
.page:nth-of-type(odd) h2,
.page:nth-of-type(odd) p,
.page:nth-of-type(odd) li,
.page:nth-of-type(odd) .summary-content,
.page:nth-of-type(even) .siteName,
.page:nth-of-type(odd) .role,
.page:nth-of-type(odd) a,
.page:nth-of-type(odd) {
  color: var(--darkgreen);
}

.page:nth-of-type(even) {
  background-color: var(--darkgreen);
}
.page:nth-of-type(even) h1,
.page:nth-of-type(even) h2,
.page:nth-of-type(even) p,
.page:nth-of-type(even) li,
.page:nth-of-type(even) .summary-content,
.page:nth-of-type(odd) .siteName,
.page:nth-of-type(even) .role,
.page:nth-of-type(even) a,
.page:nth-of-type(even) {
  color: var(--lightgreen);
}

/*************************/
/***** FOUNDATIONS 2 *****/
/*************************/

p {
  font-family: "Zilla Slab";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.txtBoxDiv {
  /* padding: 1rem; */
  /* padding-top: 2rem; */
}

.txtBoxDivLast {
  /* padding: 1rem; */
  padding-bottom: 2rem;
}

#soundForCurious, #experienceAnew, #delveInto {
  margin-top: 2.2rem;
}

#visit {
  padding-top: 1rem;
}

.txtBoxDivPad {
  /* padding: 1rem; */
  padding-top: 2rem;
}

@media screen and (min-width: 900px) {
  .txtBoxDiv {
    /* padding: 0; */
    padding-top: 2rem;
  }

  #soundForCurious, #experienceAnew, #delveInto {
    margin-top: 0;
  }
}

/*************************/
/******** DEBUG **********/
/*************************/

#debug,
#debug p {
  font-size: 0.9rem;
  line-height: 0.8rem;
  padding: 0;
}

/*************************************/
/**** LANDING PAGE // TITLE TEXT ****/
/************************************/

#titleText {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#landingPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  max-height: 100vh;

  justify-content: space-evenly;
}

#centerLandingPageContent {
  padding: 2rem;
  margin-top: 2rem;
}

@media screen and (min-width: 900px) {
  #centerLandingPageContent {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    height: 80vh; 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto;
  }

  #landingPageContainer {
    display: grid;
    align-content: center;
    height: 70vh;
    grid-template-rows: auto auto;
    grid-template-columns: 15vw 3fr 3fr 1fr 15vw;
    margin: 0;
  }
}

.lettersBox {
  /* display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 90vw; */
}

@media screen and (min-width: 900px) {
  .lettersBox {

  }

  #artPubArt {
    max-width: 8rem;
    text-align: left !important;
    margin: 0;
    padding: 0 1rem;
    font-size: 1.5rem !important;
  }

  #titleText {
    grid-row: 1;
    grid-column: 2 / span 3;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    
  }

  #engLand {
    grid-row: 2;
    grid-column: 2;
    align-self: start;
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    padding-right: 15px;
    opacity: 70%;
  }

  #frLand {
    grid-row: 2;
    grid-column: 3;
    align-self: start;
    padding: 2rem 0;
    padding-left: 15px;
    opacity: 70%;
  }
}

.letters {
  flex: 0 0 auto;
  padding: 0.35vw;
}

.m,
.o,
.n,
.a,
.h {
  width: auto;
  height: 12vw;
  max-height: 10rem;
}

.o {
  position: relative;
}

@media screen and (min-width: 900px) {
  .letters {
    padding: 0 0.35vw;
  }

  .m,
  .o,
  .n,
  .a,
  .h {
    height: auto;
  }
  .o {
    position: relative;
  }
}

#odiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#otree {
  position: absolute;
  height: 7.5vw;
  max-height: 6rem;
}

.siteName {
  font-size: 7.8vw;
  font-family: "DM Sans", sans-serif;
  /* color: var(--lightgreen); */
  /* color: var(--lightgreen); */

  text-align: center;
  font-family: "DM Sans";
  font-size: 1.90269rem;
  font-style: normal;
  font-weight: 500;
  line-height: 97.7%;
  text-transform: uppercase;
  padding: 0;
}

/*****************************/
/**** CURIOUS EARS PAGE  ****/
/****************************/

#curiousEarsTxt {
  text-align: center;
  font-family: "Zilla Slab", serif;
  font-size: 10vw;
  color: var(--lightgreen);

  text-align: center;
  font-feature-settings: "ss02" on;
  font-family: "Zilla Slab";
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 98%;
  padding: 1rem;
  font-size: clamp(1rem, 3rem, 5rem);
}

@media screen and (min-width: 900px) {
  #curiousEarsTxt {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    max-width: 50vw;
    font-size: clamp(1rem, 6.6875rem, 5rem);
  }
}

#arrow {
  width: 10vw;
  padding: 0 0 15px 0;
  animation: bounce 5s infinite;

}

.arrow1 {
  display: flex;
  margin: auto;
}

@media screen and (min-width: 900px) {
  #arrow {
    width: 8vw;
    padding: 0 0 15px 0;
  }
}

/***********************/
/******  IMAGES  *******/
/***********************/

img {
  max-width: 100%;
}

.navIcons {
  width: 2.7rem;
  padding: 0 0 0 8px;
  flex-shrink: 0;
}

#aboutNavImage {
  margin-right: 7px;
}

.decorativeImage {
  padding-bottom: 2rem;
  width: 23vw;
}

@media screen and (min-width: 900px) {
  #fern {
    padding: 1rem;
    width: 15vw;
  }
}

#spacer {
  margin: 2rem auto;
  padding: 0;
  display: flex;
}

@media screen and (min-width: 900px) {
  .decorativeImage {
    padding-bottom: 6rem;
    width: 9vw;
  }

  #spacer {
    padding: 0;
    margin: auto;
    margin-top: 2rem;
  }
}

/***********************/
/******* HEADERS *******/
/***********************/

h1 {
  font-family: "Merriweather", serif;
  font-size: 16.9vw;
  font-weight: 700;
  font-size: clamp(1rem, 16.9vw, 2rem);
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.075rem;
}


#artPubArt {
  color: var(--darkgreen);
  font-size: 9vw;
  line-height: 97.7%;
  /* margin-top: 0.8rem; */
}

#howToListenH2,
#howitWorksH2,
#whereToFindUsH2,
#accessH2,
#whereToFindUsH2,
#contributorsH2,
#productionTeamH2 {
  font-size: 1.5rem;
  margin: 0 0 1.75em 0;
}


#accessH2 {
  margin-top: -3rem;
}


#monH2 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.3rem;
  margin: 6px 0 0.75em 0;
  letter-spacing: 0.075rem;
}

#aboutH2 {
  font-size: 1.5rem;
  margin: 0 0 0 0;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 6.9vw;
    font-size: clamp(1rem, 6.9vw, 2rem);
  }

  h2 {
    font-size: 2rem;
    font-weight: 550;
  }
  

  #aboutH2 {
    font-size: 2rem;
    font-weight: 200;
  }
  

  #monH2 {
    font-size: 3rem;
    margin: 0;
  }

  #howToListenH2,
  #howitWorksH2,
  #whereToFindUsH2,
  #accessH2,
  #whereToFindUsH2,
  #contributorsH2 {
    margin: 0 0 0.75em 0;
  }

  #contributorsH2, #productionTeamH2 {
    margin-bottom: 2.2rem;
  }
}

/**************************/
/******* LIST STUFF *******/
/**************************/

ul {
  padding: 1rem;
}

ul#thanksList li {
  list-style-type: none !important;
}

#thanksList {
  list-style-type: none !important;
  margin-left: 0;
  padding-left: 0;  
}

#thanksList li {
  margin-top: 0;
  padding-top: 0;  
  line-height: 1.4rem;
}

li {
  font-size: 1.2rem;
  margin-left: 10px;
  list-style-type: disc;
  list-style-position: outside;
  padding-bottom: 10px;
  line-height: 1.35;
  font-weight: 300;
  color: var(--darkgreen);
  font-family: "Zilla Slab";
  font-size: 1.5rem;
  font-style: normal;
  line-height: 2rem;
}

.access {
  margin: 0 0 0 1rem;
}

/****************************/
/******* MUSIC PLAYER *******/
/****************************/

#audio-player-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ffrw-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  opacity: 0.1;
}

.skip-button {
  border: none;
  background: none;
  position: relative;
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;

}

#skipBackwardButton {
  margin-right: calc(1.8 * 15vw);
}


#skipForwardButton {
  margin-left: calc(1.8 * 15vw);
}

#skipBackwardButton:hover {
  opacity: 60%;
  /* transform: translateX(-3px); Moves backward button to the left on hover */
  transform: scale(1.1); 
  filter: brightness(120%); 

}

#skipForwardButton:hover {
  opacity: 60%;
  /* transform: translateX(3fr); Moves forward button to the right on hover */
  transform: scale(1.1); 
  filter: brightness(120%); 
}

.skip-button span {
  display: block;
  width: 12vw;
  padding-top: calc(1.2 * 15vw);
  position: relative;
}

@keyframes svgGlow {
  0%, 100% {
    filter: none; /* Original state */
  }
  50% {
    filter: brightness(100%) saturate(200%) contrast(200%);
  }
}

.svg-glow {
  animation: svgGlow 0.5s ease-out forwards; /* Quick glow effect */
}



.svg-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 900px) {
  #ffrw-button-container {
    display: flex;
    justify-content: center;
  }

  .skip-button {
    margin: 0 2vw;
  }

  .skip-button span {
    width: 5vw;
    padding-top: calc(1.2 * 10vw);
  }

  #skipBackwardButton {
    margin-right: calc(0.2 * 5vw);
  }
  
  #skipForwardButton {
    margin-left: calc(0.2 * 5vw);
  }
}

/**************************************/
/****** MUSIC PLAYER PLAY ICON  *******/
/**************************************/

#play-button {
  position: relative;
  background: transparent;
  border: none;
  margin: 6vh 0;
  transform-origin: center; /* Moved here for consistency */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease, left 0.3s ease; /* Consolidated */
}

#play-button:hover {
  transform: scale(1.03); /* Removed duplicate transition declaration */
}

#play-button-svg-container {
  display: block;
  width: 75vw;
  padding-top: calc((319 / 279) * 75vw); /* Adjusted to 75vw to match width */
  position: relative;
}

#play-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#play-button-text-container {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  /* pointer-events: none; Consider if hover effects are desired */
  color: var(--lightgreen);
  font-family: "DM Sans";
  font-size: 2.25rem;
  transition: transform 0.5s ease; /* Combined transitions */
}

@media screen and (min-width: 900px) {
  #play-button-text-container {
    font-size: 5vw;
    font-style: normal;
    font-weight: 300;
    line-height: 6.75rem;
  }
}

#play-button-text-container:hover {
  opacity: 0.9;
}

.playing #play-button-svg-container .svg-icon,
.paused #play-button-svg-container .svg-icon {
  transition: transform 0.3s ease;
}

.playing #play-button-svg-container .svg-icon {
  transform: scale(1.1); /* Slightly enlarge for emphasis */
}

.paused #play-button-svg-container .svg-icon {
  transform: scale(1); /* Return to normal size */
}

#play-button-text-container {
  transition: transform 0.3s ease, left 0.3s ease;
}

@media screen and (min-width: 900px) {
  #play-button-svg-container {
    width: 30vw;
    padding-top: calc((319 / 279) * 30vw);
  }
}


/******************************************/
/****** MUSIC PLAYER PROGRESS BAR  *******/
/*****************************************/

#progress-container {
  position: relative;
  width: 80%;
  height: 2px;
  background-color: var(--grey);
  margin: 30px auto 0 auto;
}

#progress-bar {
  position: absolute;
  width: 0;
  height: 5px; /* Adjust height as needed */
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--darkgreen);
}

#progress-dot {
  /* position: absolute;
  top: -3px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: var(--darkgreen);
  border-radius: 50%; */
}

.time-labels {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 5px auto 0;
  font-size: 0.9rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 550;
  margin-top: 13px;
  height: 12.8px;
}

.time-label {
  color: var(--darkgreen);
}

@media screen and (min-width: 900px) {
  #progress-container {
    position: relative;
    width: 70%;
    height: 2px;
    background-color: var(--grey);

    margin: 0 auto;
  }

  .time-labels {
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    margin: 0;
    justify-content: space-between;
    padding: 20px;
  }

  #time-played {
    left: 0;
  }

  #time-remaining {
    right: 0;
  }
}

/*************************************/
/*** MUSIC PLAYER VOLUME SLIDER  ****/
/*************************************/
/* General styling for range inputs */
/* General Styles */

/* General styles for the slider */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 80vw; 
}

#volume-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin: auto;
  width: 80vw; 
}

/* Volume bar and slider container */
.volume-bar-and-slider {
  position: relative;
  width: 100%; 
  height: 20px; /* Adjusted height for thicker appearance on active part */
  margin: 20px;
}

/* Background of the volume bar (thinner part) */
#volume-bar-background {
  width: 100%;
  height: 2px; /* Keep thinner for the inactive volume part */
  background-color: var(--grey);
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
}

#volume-bar-filler {
  height: 100%; 
  background-color: var(--darkgreen);
  height: 3px;
  width: 93%; /* Updated dynamically */
  /* margin-bottom: 4px; */
}

/* Styling for the slider thumb */
#volume-slider {
  -webkit-appearance: none;
  appearance: none;
  max-width: 100%; /* Example max-width */
  width: 100%;
  height: 8px; /* Match the thicker part for consistency */
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  z-index: 2;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 9px; /* Adjust size as needed */
  height: 9px; /* Adjust size as needed */
  border-radius: 50%;
  background: var(--darkgreen);
  cursor: pointer;
  margin-top: -4px; /* Adjust if necessary to align with the bar */
}

#volume-slider::-moz-range-thumb {
  width: 9px; /* Adjust size as needed */
  height: 9px; /* Adjust size as needed */
  border-radius: 50%;
  background: var(--darkgreen);
  cursor: pointer;
}

.volume-icon {
  display: flex;

}

@media screen and (min-width: 900px) {
  #volume-slider {
    max-width: 100%; /* Example max-width */
    width: 33vw;
    
  }

  #volume-container {
    width: 40vw;
  }

  .volume-icon {
    margin: 0 10px;
  }
}


/****************************/
/*********** SVG ************/
/****************************/

.svg-about {
  background-image: url("images/svg/svg-upDownLeaf.svg");
  background-repeat: repeat-x;
  background-size: auto 110px;
  height: 110px;
  width: 100vw;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}

.svg-about-invert {
  background-image: url("images/svg/svg-upDownLeafInvert.svg");
}

.svg-upPlant {
  background-image: url("images/svg/svg-upPlant.svg");
  background-repeat: repeat-x;
  background-size: auto 61px;
  height: 66px;
  width: 100vw;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}

.svg-upPlant-invert {
  background-image: url("images/svg/svg-upPlantInvert.svg");
}

.svg-works {
  background-image: url("images/svg/svg-works.svg");
  background-repeat: repeat-x;
  background-size: auto 61px;
  height: 66px;
  width: 100vw;
  /* padding-bottom: 0.5rem; */
  margin-top: 2rem;
}

.svg-works-invert {
  background-image: url("images/svg/svg-worksInvert.svg");
}

.svg-sideways {
  background-image: url(images/svg/svg-sideways.svg);
  background-repeat: repeat-x;
  background-size: auto 130px;
  background-position: center; /* This centers the background vertically */
  height: 110px;
  width: 100vw;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}

.svg-sideways-invert {
  background-image: url("images/svg/svg-sidewaysInvert.svg");
}

.svg-contributors {
  background-image: url(images/svg/-contributors1.svg);
  background-repeat: repeat-x;
  background-size: 12px 3px;
  min-height: 12px;
  width: 80vw;
  margin-bottom: 0.8rem;
  padding: 0 0;
}

.svg-contributors-indent {
  background-repeat: repeat-x;
  background-size: 12px 12px;
  width: 74vw;
  margin-left: 6vw;

}

.svg-contributors-invert {
  background-image: url("images/svg/svg-contributors1Invert.svg");
}

.svg-contributors2 {
  background-image: url(images/svg/-contributors2.svg);
}

.svg-contributors2-invert {
  background-image: url("images/svg/svg-contributors2Invert.svg");
}

@media screen and (min-width: 900px) {
  .svg-about,
  .svg-upPlant,
  .svg-works {
    background-repeat: repeat;
    height: auto;
    margin: 0;
    background-size: 120% auto;
    background-position: center;
    flex: 1;
  }

  .svg-sideways {
    background-repeat: repeat;
    height: auto;
    margin: 0;
    background-size: 120% 130px;
    background-position: center;
    margin-top: 1rem;
  }

  .svg-about {
    background-image: url(images/svg/svg-sidewaysBig.svg);
    background-position: center;
  }

  .svg-about-invert {
    background-image: url("images/svg/svg-sidewaysBigInvert.svg");
  }

  .svg-upPlant {
    background-image: url("images/svg/svg-upDownBig.svg");
    /* background-position: left center; */
  }

  .svg-upPlant-invert {
    background-image: url("images/svg/svg-upDownBigInvert.svg");
  }

  .svg-works {
    background-image: url("images/svg/svg-upBigInvert.svg");
    background-position: left center;
  }

  .svg-works-invert {
    background-image: url("images/svg/svg-upBig.svg");
  }

  .svg-sideways {
    background-image: url("images/svg/svg-sideways.svg");
    background-repeat: repeat-x;
    background-size: auto 130px;
    height: 110px;
    width: 100vw;
    padding-bottom: 0.5rem;
  }

  .svg-sideways-invert {
    background-image: url("images/svg/svg-sidewaysInvert.svg");
  }

  .svg-contributors {
    background-image: url(images/svg/-contributors1.svg);
    background-repeat: repeat-x;
    background-size: 12px 12px;
    min-height: 12px;
    /* height: 12px; this breaks everything! */
    width: 90vw;
    box-sizing: border-box;
  }

  .svg-contributors-indent {
    background-repeat: repeat-x;
    background-size: 12px 12px;
    width: 65vw;
    margin-left:25vw;

  }
  

  .svg-contributors-invert {
    background-image: url("images/svg/svg-contributors1Invert.svg");
  }

  .svg-contributors2 {
    background-image: url(images/svg/-contributors2.svg);
  }

  .svg-contributors2-invert {
    background-image: url("images/svg/svg-contributors2Invert.svg");
  }
}

#debugdiv {
  display: none;
  max-height: 400px;
  max-width: 45vw;
  overflow: auto;
  padding: 10px 5px;
  margin: 10px 2px;
  border: 2px solid var(--orange);

  background-color: var(--white);

  position: absolute;
  overflow: auto;
}

/****************************/
/*** TRANSCRIPT CONTAINER ***/
/****************************/

#transcriptContainer {
  background-color: var(--darkgreen);
  margin: 20px 5px;
  min-height: 0;
  overflow: auto;
}

#transButtonContainer {
  margin-top: 0.7rem;
  margin-bottom: 2rem;
}

#transcriptContainer:hover {
  /* opacity: 0.6; */
}

#transcriptContainer {
  /* opacity: 0; */
  transform: translateY(20px);
  transition: opacity 0.6s ease-in-out, transform 0.2s ease-in-out; /* Smooth transitions for both properties */
  display: none;
}




@media screen and (min-width: 900px) {
  #transcriptContainer {
    margin: 20px 20vw;
  }
}

/***************/
/*** DETAILS ***/
/***************/

details {
  transition: 0.2s background linear;
  display: flex;
  border-radius: 5px;
  max-width: 80vw;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.role {
  grid-row-start: 2;
  grid-column: 1 / -1;
  text-transform: lowercase;
  font-size: 0.9rem;
  margin-top: -0.5rem;
}


.roleException {
  text-transform: none;
}

.summary-indent {
  margin-left: 1.5rem;
}

@media screen and (min-width: 900px) {
  .summary-indent {
    margin-left: 25vw;
  }
}

details > summary {
  transition: color 1s;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  grid-gap: 5px;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6875rem;
  letter-spacing: 0.0625rem;
  font-feature-settings: "ss02" on, "ss03" on;
  border-radius: 5px;
  width: 80vw;
  box-sizing: border-box;
}

@media screen and (min-width: 900px) {
  details > summary {
    width: 89vw;
  }
}


summary::after {
  content: "+";
  font-size: 2.2rem;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 5px;
  margin-top: -10px;
  transition: 0.2s;
  grid-row: 1;
  grid-column: 2;
  opacity: 1; /* Ensure it's fully visible by default */
  transition: opacity 0.6s ease; /* Smooth transition for opacity */
}

summary:hover::after {
  opacity: 0.6; /* Change to 60% opacity on hover */
}

summary::after:hover {
  opacity: 60%;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary::after {
  content: "-";
}

/* Styles for article and pre */
article,
pre {
  box-sizing: border-box;
}

article > p {
  padding-top: 1rem;
}

@media screen and (min-width: 900px) {
  summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto 1fr;
  }

  .role {
    /* grid-row: 1;
    grid-column: 2;
    margin-top: 0rem;
    margin-left: -62.5vw; */

  }
  summary::after {
    grid-row: 1;
    grid-column: 3;
  }

  summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  }

  summary::after {
    grid-row: 1;
    grid-column: 4; /* Move to the last column */
    margin-right: 0; /* Adjust or remove the negative margin */
  }
}

/*****************************/
/*** LOGO & FINAL THOUGHTS ***/
/*****************************/

#logoBox {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  width: auto;
  max-width: 7rem;
}

#finalThanks {
  text-align: left;
  margin-bottom: 2rem;
}

#logoFinalThanksDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media screen and (min-width: 900px) {
  .logo {
    width: auto;
    padding: 0 1rem;
    margin: 0 3rem;
  }

  #logoBox {
    display: flex;
    justify-content: center;
  }

  #finalThanks {
    display: flex;
    justify-content: center;
    margin: 0 4rem 4rem 4rem;
    text-align: center;
    max-width: 40vw;
  }
}

/***********************/
/***** ACCESS MENU *****/
/***********************/

#accessIcon, #langToggle {
  display: flex;
  padding: 10px;

}

#wrapperToggleDiv {
  z-index: 1;
  position: fixed;
  display: flex;
}

.settingsBtn,
.wrapperBtn {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapperBtnOpening {
  animation: rotate 1s forwards;
}

.wrapperBtnClosing {
  animation: rotateReverse 1s forwards;
}

#settingsDropdown {
  z-index: 1;
  border-radius: 10px;
  transition: all 3s ease-out;
  opacity: 1;
  z-index: 1010; /* Higher than nav's z-index */

}

.dropdownContainer {
  background-color: var(--lightgreen);
  margin: 0.5rem 0;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.dropdownContainer:hover {
  border-radius: 0.6rem;
}

.dropdownContainer button {
  background-color: transparent;
  border: none;
  color: var(--darkgreen);
  cursor: pointer;
}

#btnDiv {
  display: flex;
}

#increaseTextSizeBtn,
#decreaseTextSizeBtn {
  font-size: 2rem;
}

#decreaseTextSizeBtn {
  margin-right: 18px;
}

#resetBtn {
  width: 100%;
  text-align: center; 
  display: block; 
  padding: 11px 0; 
  cursor: pointer;
  font-size: 1rem; 
  margin: auto;
  border: none;
  color: var(--darkgreen);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 2px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

@media screen and (min-width: 900px) {
  #resetBtn {
    display: flex;
  }
}

#settingsDropdown li {
  color: var(--darkgreen);
  text-transform: uppercase; 
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  padding: 14px 19px 14px 19px;
  margin: 18px;
}

@media screen and (min-width: 900px) {
  #settingsDropdown li {
    padding: 14px 19px 14px 19px;
    margin: 0;
    margin-bottom: 18px;
  }
}

.showDropdown {
  display: block;
}

.slide-in {
  z-index: 10;
  top: 15rem; /* Adjust if necessary to control the starting position */
  transform: translateY(-100%); /* Start hidden above the view */
  transition: transform 0.5s ease-out, visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: var(--darkgreen);
  padding: 0.8rem 0 0 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 10px 10px;
  visibility: hidden;
  opacity: 0;
  height: auto; /* Ensure height is auto or fixed to control the size */
  margin-top: 5px;
  min-height: 40vh;
}

@media screen and (min-width: 900px) {
  .slide-in {
    z-index: 10;
    top: 15rem; /* Adjust if necessary to control the starting position */
    transform: translateY(-100%); /* Start hidden above the view */
    transition: transform 0.5s ease-out, visibility 0s linear 0.5s, opacity 0.5s linear;
    padding: 0.8rem 0 0 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 5px;
    min-height: auto;
  }
}

.slide-in.show {
  transform: translateY(0); /* Slide in to view */
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

#slidein {
  position: fixed;
  width: 90%;
  position: fixed;
  right: 0;
  top: 100px;
  margin-right: 20px;
}

@media screen and (min-width: 900px) {
  #slidein {
    width: 30vw;
    position: fixed;
    right: 0;
    top: 100px;
    margin-right: 20px;
  }
}

.monochrome {
  filter: grayscale(100%);
}

/* transcript styles  */

.bold {
  font-weight: bold;
}

.center {
  display: block;
  text-align: center;
}

.italics {
  font-style: italic;
}

.paragraph {
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #bfffc2;
  margin-left: 0;
  margin-right: 0;
}

.invert-colors {
  background-color: #234e44; /* Example: changing to black */
  color: #fff; /* Example: changing text to white */
}

.invert-colors p, .invert-colors span {
  background-color: #234e44; /* Invert background color for paragraphs and spans */
  color: #bfffc2; /* Invert text color for paragraphs and spans */
}

.invert-colors p,
.invert-colors span,
.invert-colors p span {
  background-color: #234e44 !important; /* Example: changing to black */
  color: #bfffc2 !important; /* Example: changing text to white */
}




@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


#fern {
  transform-origin: center;
  transform: scale(.6); /* Initial scale */
  transition: transform 1.5s ease-in-out;
}

#fern.grow {
  transform: scale(1); /* Target scale when in view */
}


#accessIcon, #langToggle, #invertColoursBtn, #monochromeBtn, #decreaseTextSizeBtn, #increaseTextSizeBtn, .volume-icon, #transcriptButton {
  transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out;
  transform-origin: center;
}

#accessIcon:hover, #accessIcon:focus, #langToggle:hover, #langToggle:focus, #invertColoursBtn:hover, #invertColoursBtn:focus, #monochromeBtn:hover, #monochromeBtn:focus, #decreaseTextSizeBtn:focus, #increaseTextSizeBtn:hover, #decreaseTextSizeBtn:focus, #increaseTextSizeBtn:hover, volume-icon:focus, .volume-icon:hover, #transcriptButton:hover {
  transform: scale(1.1); /* Gently increase size */
  fill: #28a745; /* Change color to a subtle green, or any color that suits your theme */
}



