/***********************/
/*****  CSS RESET  *****/
/***********************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************/
/*****    FONTS    *****/
/***********************/

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@100&display=swap");

:root {
  --white: rgb(244, 244, 244);
  --lightGrey: rgb(211, 211, 211);
  --medGrey: rgb(147, 147, 147);
  --darkGrey: rgb(101, 101, 101);
  --black: rgb(79, 79, 79);
  --accentLight: rgb(232, 187, 255);
  --accentMed: rgb(122, 84, 142);
  --accentDark: rgb(90, 42, 114);
  --accentTwo: rgb(89, 56, 255);
}

/***********************/
/*****   PRELOAD   *****/
/***********************/


/***********************/
/***** FOUNDATIONS *****/
/***********************/

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.15rem;
  font-size: 1.3rem;
  background-color: var(—black);
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}


p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  line-height: 1.25;
  color: var(—black);
}


@media screen and (min-width: 900px) {
  p {
    font-size: 1.5rem;
    line-height: 1.25;
    padding-bottom: 0;
  }
}

/***********************/
/******** LINKS ********/
/***********************/

a {
  color: var(--accentDark);
  text-decoration: none;
}

a:hover {
  color: var(--accentTwo);
}

/***********************/
/******  BUTTONS  ******/
/***********************/

btn .btn {
  display: inline-block;
  background-color: var(--darkGrey);
  font-size: 1.11rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 3rem;
  padding: 0.6em 4em;
  outline: none;
  border: none;
  cursor: pointer;
}


/***********************/
/******  IMAGES  *******/
/***********************/

img {
  max-width: 100%;
  /* max-height: auto; */
}
/***********************/
/******* HEADERS *******/
/***********************/

h1 {
  /* font-family: 'Merriweather', serif; */
  text-align: center;
  color: rgba(71, 20, 86, 0.81);
  font-size: 2rem;
  letter-spacing: 0.1em;
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

h1:hover {
  /* letter-spacing: 0.2em; */
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  color: var(--accentLight);
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1em 0em 0.75em 0em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--accentDark);
}

h4 {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--accentLight);
}

h5 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--accentLight);
}


main {
  /* display: flex; */
  /* flex-direction: row; */
  align-content: center;
  justify-content: space-around;
  align-items: center;
  top: 20rem;
}

@media screen and (min-width: 900px) {
  #playerPageMain {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    top: 20rem;
    align-items: flex-start;
  }
}

